body{
    background-image: url(/assets/images/fond_fonce.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.maison_carton{
    position: absolute;
    z-index: 100;
    width: 500px;
    transform: rotate(20deg);
    margin-left: 250px;
    margin-top:300px;
}

.maison_scotch{
    position: absolute;
    filter: invert(100%);
    width: 300px;
    z-index: 100;
    transform: rotate(-36deg);
    margin-left:787px;
    margin-top:465px;
}